@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	h1 {
		@apply font-bold leading-none text-sami-green;
	}

	h1 {
		@apply text-5xl md:text-6xl 2xl:text-7xl;
	}
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

body[class*="fp-viewing-spaces-"],
#fp-nav ul li a span {
	background: #329f5b !important;
}
